@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
  @apply rounded-md bg-primary text-primary-content;
}

#gradient-horizontal {
  --color-stop-1: hsl(var(--s));
  --color-stop-2: hsl(var(--p));
}

.logo {
  fill: url(#gradient-horizontal) red;
}

.art-neutral {
  --tw-text-opacity: 1;
  fill: hsl(var(--bc) / var(--tw-text-opacity));
}

.art-primary {
  fill: hsl(var(--pf));
}

.art-secondary {
  fill: hsl(var(--s));
}

.art-accent {
  fill: hsl(var(--a));
}

.table :where(tbody th, tbody td, thead th) {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b3) / var(--tw-bg-opacity));
}

.table:where(:not(.table-zebra))
  :where(thead, tbody, tfoot)
  :where(tr:not(:last-child) :where(th, td)) {
  border-bottom-width: 0px;
}
.text-base-content {
  --tw-text-opacity: 0.5;
}

tr > th {
  font-weight: 500;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

.badge-error {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--er) / var(--tw-bg-opacity));
  border-color: hsl(var(--er) / var(--tw-bg-opacity));
}

.badge-accent {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--a) / var(--tw-bg-opacity));
  border-color: hsl(var(--a) / var(--tw-bg-opacity));
}

.badge-primary {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  border-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.badge-secondary {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--s) / var(--tw-bg-opacity));
  border-color: hsl(var(--s) / var(--tw-bg-opacity));
}

.badge-info {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--in) / var(--tw-bg-opacity));
  border-color: hsl(var(--in) / var(--tw-bg-opacity));
}

.badge-warning {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--wa) / var(--tw-bg-opacity));
  border-color: hsl(var(--wa) / var(--tw-bg-opacity));
}
